.heroBlurWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;
  width: 100%;
  height: 220px;
}

.sectionTransition {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
